@{
    ViewData["Title"] = "Home Page";
}

<html>
<head></head>
<body>
    <div class="col">
        <div class="row-fluid">
            <ul id="batchList" class="batches-list-group pre-scrollable list-group-horizontal list-unstyled d-flex flex-wrap">
                <li>
                 @{ await Html.RenderPartialAsync("_Batch"); }
                </li>
            </ul>
            <button id="create-btn" class="btn-dark">create</button>
        </div>
    </div>
</body>
</html>
