@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<head></head>
<body>
    <div class="col">
        <div class="row-fluid">
            <div class="modal-header">
                <ul class="list-unstyled list-inline">
                    <li>05</li>
                    <li>|</li>
                    <li>|</li>
                    <li>|</li>
                    <li>|</li>
                    <li>10</li>
                    <li>|</li>
                    <li>|</li>
                    <li>|</li>
                    <li>|</li>
                    <li>15</li>
                    <li>|</li>
                    <li>|</li>
                    <li>|</li>
                    <li>|</li>
                    <li>20</li>
                    <li>|</li>
                    <li>|</li>
                    <li>|</li>
                    <li>|</li>
                    <li>25</li>
                </ul>
            </div>
            <ul class="batches-list-group pre-scrollable list-group-horizontal list-unstyled d-flex flex-wrap">
                <li>
                    <partial>
                        @await Html.PartialAsync("_Batch")
                    </partial>
                </li>
            </ul>
            <button class="btn-dark">create</button>
        </div>
    </div>
</body>
